<!DOCTYPE html>
<html>
<head>

<style>

h1{
font-weight:bold;
}

h2{
font-weight:900;
}

p{
font-weight:300;
}

</style>

</head>

<body>

<h1>Bold Heading</h1>

<h2>Extra Bold Heading</h2>

<p>
This paragraph has light font weight.
</p>

</body>
</html>